<h1>Listing data_sets</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @data_sets.each do |data_set| %>
      <tr>
        <td><%= link_to 'Show', data_set %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
