.jumbotron
  .container
    %h1= @data_set.name
    %h4
      .label.label-primary
        =@data_set.license
      &nbsp;
      .label.label-default
        =@data_set.places.count
        =t('activerecord.models.place', count: @data_set.places.count)
      &nbsp;
      .label.label-default
        =I18n.l(@data_set.created_at.to_date, format: :default)
    %p=@data_set.description || "Leider fehlt hier die Beschreibung der Datenspende."


    %p= link_to I18n.t('shared.call_to_action.check'), admin_places_path, class: "btn btn-primary btn-lg", role: "button"
