.jumbotron
  %h1= @data_set.name
  %h4
    .label.label-primary=@data_set.license
    .label.label-default
      =@data_set.places.count
      =t('activerecord.models.place', count: @data_set.places.count)
  %p=@data_set.description || "Leider fehlt hier die Beschreibung der Datenspende."

  %p= link_to 'Hilf jetzt mit!', admin_data_set_places_path(@data_set), class: "btn btn-primary btn-lg", role: "button"
