%p "Hilf der freien Weltkarte OpenStreetMap: Kontrolliere Daten, die das Projekt gespendet bekommt. Das geht ganz leicht und macht sogar Spaß."
=link_to "Jetzt starten", places_path, class: [:button, :right]
%br.clear
