#locate_map.spinner{ style: 'text-align: center;height:550px;', 'data-lat' => current_admin_user.lat, 'data-lon' => current_admin_user.lon }
  = fa_icon 'refresh spin', class: 'muted', style: 'font-size: 24em;opacity: 0.3'

= javascript_include_tag "locate_me"