:javascript
  $(document).ready(function(){
    $('a.locate_me').click(function(e){
      e.preventDefault();
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {

            var lat = position.coords.latitude;
            var lng = position.coords.longitude;

            $('#admin_user_lat').val(lat);
            $('#admin_user_lon').val(lng);
            $('#admin_user_use_location').val(1);
            $(e.target).parents('form').submit();
          }, function(error) {
            alert('Something went wrong while determining your current position.');
          }, {timeout:5000});
      } else {
        // Fallback for no geolocation
        alert('Your browser does not support geolocation.');
      }
    })
  })