:javascript
  function geolocFail() {
    console.log("FAIL!!!");
  };

  $(document).ready(function(){
    $('a.locate_me').click(function(e){
      e.preventDefault();
      if (navigator.geolocation) {
          var location_timeout = setTimeout("geolocFail()", 1000);

          navigator.geolocation.getCurrentPosition(function(position) {
            clearTimeout(location_timeout);

            var lat = position.coords.latitude;
            var lng = position.coords.longitude;

            $('#admin_user_lat').val(lat);
            $('#admin_user_lon').val(lng);
            $('#admin_user_use_location').val(1);
            $(e.target).parents('form').submit();
          }, function(error) {
            clearTimeout(location_timeout);
            geolocFail();
          });
      } else {
        // Fallback for no geolocation
        geolocFail();
      }
    })
  })