#app{'data-parent' => resource.id, 'data-lat' => resource.lat, 'data-lon' => resource.lon, 'data-name' => resource.name, 'data-place' => "#{resource.postcode} #{resource.city}", 'data-bbox' => resource.bbox_string }
