#app{'data-parent' => resource.id, 'data-lat' => resource.lat, 'data-lon' => resource.lon, 'data-name' => resource.name, 'data-place' => "#{resource.city}", 'data-bbox' => resource.bbox_string, 'data-phrase' => Mapping.find_by(osm_key: resource.osm_key, osm_value: resource.osm_value).localized_name }
