<div id="login">
  <h2><%= title "#{active_admin_application.site_title} Login" %></h2>
  <div class="oauth_providers" style="margin-top: 40px;">
    <p>Hilf der freien Weltkarte OpenStreetMap: Kontrolliere Daten, die das Projekt gespendet bekommt. Das geht ganz leicht und macht sogar Spaß!</p>
    <br/>
    <h3><%= link_to t('.sign_in_with', kind: 'OpenStreetMap'), admin_user_omniauth_authorize_path(:osm), class: 'light-button' %></h3>
  </div>

</div>