<div id="login">
  <h2><%= title "#{active_admin_application.site_title} Login" %></h2>
  <div class="oauth_providers" style="margin-top: 40px;">
    <h3><%= link_to 'Sign in with OpenStreetMap', admin_user_omniauth_authorize_path(:osm) %></h3>
  </div>

</div>