.navbar.navbar-default{role: "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Poichecker', root_path, class: 'navbar-brand'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to t('activerecord.models.data_set.other'), data_sets_path

      %ul.nav.navbar-nav.navbar-right
        %li
          - if signed_in?
            = link_to "POIs checken", admin_places_path
          - else
            = link_to t('active_admin.devise.login.title'), new_admin_user_session_path()
