%nav.navbar.navbar-default.navbar-fixed-bottom{role: "navigation"}
  .container
    %p.navbar-text.navbar-right
      = "Copyright #{Date.today.year} SOZIALHELDEN e.V."
      = link_to "Impressum", "http://www.sozialhelden.de/kontakt/", target: '_blank'
