.jumbotron
  %h1 POIchecker
  %p Hilf der freien Weltkarte OpenStreetMap: Kontrolliere Daten, die das Projekt gespendet bekommt. Das geht ganz leicht und macht sogar Spaß.
  %p
    = link_to "Learn more", '#', class: "btn btn-primary btn-lg", role: "button"
