#leaflet{style: 'height: 400px'}

:javascript
  var map = L.map('leaflet').setView([#{@place.lat}, #{@place.lon}], 16);
  L.tileLayer('http://{s}.tiles.mapbox.com/v3/sozialhelden.map-iqt6py1k/{z}/{x}/{y}.png64', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://opendatacommons.org/licenses/odbl/summary/">ODbL</a>, Tiles © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18
  }).addTo(map);
  map.attributionControl.setPrefix('');