= link_to("«", "#", class: 'light-button apply left', rel: "#candidate_#{attrib}") unless value.blank?
- form.text_field(attrib, value: value, label: false, readonly: true, class: "right_source right")
