// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Colors
$link-color: #008472;
$error-color: #AD973C;
$page-header-text-color: #5E6469;
// $body-background-color: #FFF !default;
// $primary-color: #5E6469 !default;
// $secondary-color: #f0f0f0 !default;
// $text-color: #323537 !default;
// $section-header-text-color: $primary-color !default;
// $current-menu-item-background: lighten($primary-color, 12%) !default;
// $hover-menu-item-background: lighten($primary-color, 12%) !default;
// $table-stripe-color: lighten($primary-color, 57%) !default;
// $table-selected-color: #d9e4ec !default;
// $blank-slate-primary-color: #AAA !default;
// $breadcrumbs-color: #8a949e !default;
// $breadcrumbs-separator-color: #aab2ba !default;
// $required-field-marker-color: #aaa !default;
// $form-label-color: $section-header-text-color !default;
// $page-header-text-color: #cdcdcd !default;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "font-awesome";
@import "leaflet";

$wheelchair-yes: #97C34E;
$wheelchair-limited: #F19D46;
$wheelchair-no: #D6382F;
$wheelchair-unknown: lighten(black, 70%);

$merge-same: #72B7AA;
$merge-diff: #BB2585;
$merge-attention: #EBDB67;


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

#header {
  @include gradient(#D9D9D9, #BDBCBC);
  border-bottom: 1px solid $primary-color;
  @include text-shadow(rgba(#FFF, 0.5));

  h1 img {
    top: initial;
  }
  ul.tabs {
    > li.current > a, > li:hover > a {
      background: $current-menu-item-background;
      color: #fff;
      text-shadow: none;
      -moz-text-shadow: none;
      -webkit-text-shadow: none;
    }
  }
}

h1 span.small {
  font-size: 0.6em;
}

body.logged_in {
  .flashes{
    .flash {
      @include gradient(#F7F2D2, #F4EBAB);
      @include text-shadow(#fafafa);
      border-bottom: 1px solid #EBDB67;
      color: #AD973C;
      font-weight: bold;
      font-size: 1.1em;
      line-height: 1.0em;
      padding: 13px 30px 11px;
      position: relative;

      &.flash_notice {
        @include gradient(#C4E2DC, #A3D5CB);
        border-bottom: 1px solid #72B7AA;
        color: #008472;
      }
      &.flash_error {
        @include gradient(#F0E6EF, #F0CFE5);
        border-bottom: 1px solid #DDBAD6;
        color: #BB2585;
      }
    }
  }
}

body.logged_out {
  .flash {
    @include no-shadow;
    @include text-shadow(#fff);
    background: none;
    color: #666;
    font-weight: bold;
    line-height: 1.0em;
    padding: 0;
    margin-bottom: 8px;
  }
}

.status_tag {
  &.yes {
    background: $wheelchair-yes;
  }

  &.limited {
    background: $wheelchair-limited;
  }

  &.no {
    background: $wheelchair-no;
  }

  &.unknown {
    background: $wheelchair-unknown;
  }
}

a.light-button, button.light-button input.light-button{
  @include light-button;
}

a.primary-button, button.primary-button{
  @include dark-button;
}

span.icon {
  vertical-align: baseline;
}

.row {
  height: 45px;

  &.single {
    th {
      display: none;
    }

    td {
      width: 100%;
    }
  }

  input {
    &.changed {
      background-color: lighten($merge-same, 37%);
      border: 1px solid $merge-same;

      &:focus {
        border: 1px solid $merge-same;
        @include shadow(0,0,4px,$merge-same);
      }
    }

    &.same {
      background-color: lighten($merge-same, 37%);
      border: 1px solid $merge-same;

      &:focus {
        border: 1px solid $merge-same;
        @include shadow(0,0,4px,$merge-same);
      }

      &.blank {
        background-color: white;
        border: 1px solid #c9d0d6;

        &:focus {
          border: 1px solid #99a2aa;
          @include shadow(0,0,4px,#99a2aa);
        }

      }
    }

    &.different {
      background-color: lighten($merge-diff, 53%);
      border: 1px dashed $merge-diff;

      &:focus {
        border: 1px dashed $merge-diff;
        @include shadow(0,0,4px,$merge-diff);
      }

      &.new {
        background-color: lighten($merge-attention, 31%);
        border: 1px dashed $merge-attention;

        &:focus {
          border: 1px dashed $merge-attention;
          @include shadow(0,0,4px,$merge-attention);
        }
      }

      &.old {
        background-color: lighten($merge-same, 37%);
        border: 1px dashed $merge-same;

        &:focus {
          border: 1px dashed $merge-same;
          @include shadow(0,0,4px,$merge-same);
        }

      }
    }
  }
}

i.fa{
  &.larger {
    font-size: 140%;
  }
}

#actions.panel {
  .panel_contents {
    text-align: center;
  }
}

#leaflet {
  height: 400px;
  cursor: crosshair;
}

.circle {
  font-size: 45px;
  color: lighten(#BB2585, 30%);
  text-shadow: #BB2585 0 0 1px;
}

.table_tools {
  margin-bottom: 0px;

  li {
    margin-bottom: 16px;
  }
}