// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "font-awesome";
@import "leaflet";

$wheelchair-yes: #97C34E;
$wheelchair-limited: #F19D46;
$wheelchair-no: #D6382F;
$wheelchair-unknown: lighten(black, 70%);

$merge-same: #22AA22;
$merge-diff: #AA2222;
$merge-attention: #AAAA22;

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
.status_tag {
  &.yes {
    background: $wheelchair-yes;
  }

  &.limited {
    background: $wheelchair-limited;
  }

  &.no {
    background: $wheelchair-no;
  }

  &.unknown {
    background: $wheelchair-unknown;
  }
}

a.light-button, button.light-button input.light-button{
  @include light-button;
}

a.primary-button, button.primary-button{
  @include dark-button;
}

span.icon {
  vertical-align: baseline;
}

.row {
  height: 45px;

  &.single {
    th {
      display: none;
    }

    td {
      width: 100%;
    }
  }

  input {
    &.changed {
      background-color: lighten($merge-same, 55%);
      border: 1px solid $merge-same;
    }

    &.same {
      background-color: lighten($merge-same, 55%);
      border: 1px solid $merge-same;

      &.blank {
        background-color: white;
        border: 1px solid #c9d0d6;
      }
    }

    &.different {
      background-color: lighten($merge-diff, 55%);
      border: 1px dashed $merge-diff;

      &.new {
        background-color: lighten($merge-attention, 55%);
        border: 1px dashed $merge-same;
      }

      &.old {
        background-color: lighten($merge-same, 55%);
        border: 1px dashed $merge-same;

      }
    }
  }
}

i.fa{
  &.larger {
    font-size: 140%;
  }
}

#actions.panel {
  .panel_contents {
    text-align: center;
  }
}

#leaflet {
  height: 400px;
  cursor: crosshair;
}

.circle {
  font-size: 45px;
  color: lighten(#FE7101, 35%);
  text-shadow: #FE7101 0 0 1px;
}