// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$wheelchair-yes: #97C34E;
$wheelchair-limited: #F19D46;
$wheelchair-no: #D6382F;
$wheelchair-unknown: lighten(black, 70%);

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
.status_tag {
  &.yes {
    background: $wheelchair-yes;
  }

  &.limited {
    background: $wheelchair-limited;
  }

  &.no {
    background: $wheelchair-no;
  }

  &.unknown {
    background: $wheelchair-unknown;
  }
}

a.light-button {
  @include light-button;
}

.row {
  &.single {
    height: 45px;

    th {
      display: none;
    }

    td {
      width: 100%;
    }
  }

  input {
    &.left_source {
      border: 1px solid #A22;
    }

    &.right_source {
      border: 1px solid #2A2;
    }

    &.different {
      border: 1px solid black;
    }
  }
}